

.listItem {
     display: grid;
   grid-template-areas: 
        "itemName itemName itemName itemName"
        "qtyLabel priceLabel add delete"
        "quantity price add delete";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto; 
    gap:0.2rem;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: .3rem;
    text-align: center;
    .name {
        grid-area: itemName;
        text-align: start;
        &.strikethrough {
            text-decoration: line-through;
        }
    }
    .label:first {
        grid-area: qtyLabel;
        display: block;
    }
    .label:last-of-type {
        grid-area: priceLabel;
        display: block;
    }
    .quantity {
        grid-area: quantity;
    }
    .price {
        grid-area: price;
    }
    .add {
        grid-area: add;
    }
    .delete {
        grid-area: delete;
    }
    .quantity, .price {
        input {
            width: 100%;
            max-width: 100px;
            box-sizing: border-box;
            padding: 0.2rem;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }

}